<div class="footer">
	<div class="row">
	<div class="col-sm-8">
    <a href="https://twitter.com/DataPlanes" title="Follow on Twitter" target="_blank"> <img  class="img" alt="Twitter" src="https://raw.githubusercontent.com/lhehnke/lhehnke.github.io/master/img/twitter_new.png" width="30px" height="30px"></a>
    <a href="https://www.linkedin.com/in/lisa-hehnke/" title="Connect on LinkedIn" target="_blank"> <img  class="img" alt="LinkedIn" src="https://raw.githubusercontent.com/lhehnke/lhehnke.github.io/master/img/linkedin_new.png" width="30px" height="30px"></a>
    <a href="https://github.com/lhehnke" title="Fork on GitHub" target="_blank"><img  class="img" alt="Github" src="https://raw.githubusercontent.com/lhehnke/lhehnke.github.io/master/img/github_new.png" width="30px" height="30px"></a>
<!--  <a href="https://lhehnke.github.io/feed.xml" title="Subscribe to Blog Feed" target="_blank"><img  class="img" alt="Follow Feed" src="https://raw.githubusercontent.com/lhehnke/lhehnke.github.io/master/img/feed_blue.png" width="31px" height="31px"></a> -->
	</div>
	<div class="col-sm-4">

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
		
		  
			  
<p class="pull-right text-muted">
			  <span style="font-size:xx-small"><a href="https://lhehnke.github.io/about/">About</a></span>
			  <span style="font-size:xx-small"><a href="https://lhehnke.github.io/data/">Imprint & Data Policy</a></span>
			  </p>



	</div>
	</div>
</div> <!-- /footer -->







