<div class="footer">
	<div class="row">
	<div class="col-sm-8">
	<a href="https://twitter.com/N736PA_PHBUF" target="_blank"> <img  class="img" alt="Twitter" src="http://lhehnke.github.io/img/twitter.png"></a>
	<a href="https://github.com/lhehnke" target="_blank"><img  class="img" alt="Github" src="http://lhehnke.github.io/img/github.png"></a>	
	</div>
	<div class="col-sm-4">
	<p class="pull-right"><small><a href="https://github.com/jmcglone">Design by Jim McGlone</a></small></p>
	</div>
	</div>
</div> <!-- /footer -->




