<div class="footer">
	<div class="row">
	<div class="col-sm-8">
	<a href="https://twitter.com/N736PA_PHBUF" title="Follow on Twitter" target="_blank"> <img  class="img" alt="Twitter" src="https://lhehnke.github.io/img/twitter.png"></a>
	<a href="https://github.com/lhehnke" title="GitHub" target="_blank"><img  class="img" alt="Connect on Github" src="https://lhehnke.github.io/img/github.png"></a>
	</div>
	<div class="col-sm-4">

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
		
		  
			  
<p class="pull-right text-muted">
			  <span style="font-size:xx-small"><a href="https://lhehnke.github.io/about/">About this site</a></span>
			  </p>



	</div>
	</div>
</div> <!-- /footer -->







